# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.TestAppNet5.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\aviaz\RiderProjects\TestAppNet5\.idea\.idea.TestAppNet5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
